<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/_fragments::head('管理员登录')"></head>
<body>
<!--导航栏-->
<!--开始-->
<nav th:replace="commons/_fragments::menu(0)"></nav>
<!--结束-->
<!--导航栏-->

<!--二级导航-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="blogs-input.html" class="active item">登录</a>
            <a href="blogs.html" class="item">注册</a>
        </div>
    </div>
</div>

<!--登录页面设计-->
<div class="m-container-small">
    <div class="ui container">
        <div class="column">
            <h2 class="ui teal image header">
<!--                <img src="assets/images/logo.png" class="image">-->
                <div class="content">
                    管理后台登录
                </div>
            </h2>
            <form class="ui large form" method="post" th:action="@{/admin/login}">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui red mini message" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></div>
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="E-mail address or username/邮箱或者用户名" spellcheck="false"
                                   data-ms-editor="true" control-id="ControlID-1">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="password/密码" control-id="ControlID-2">
                        </div>
                    </div>
                    <button type="submit" class="ui fluid large teal submit button">Login/登录</button>
                </div>

                <div class="ui error mini message"></div>
            </form>
        </div>
    </div>
</div>
<!--登录页面设计-->

<!--            footer  start-->
<!--底部-->
<!--开始-->
<!--<footer th:replace="commons/_fragments::footer"></footer>-->
<!--结束-->
<!--底部-->
</body>
<script>
    // 标题未选中
    $('.ui.form').form({
        fields: {
            username: {
                identifier: 'username',
                rules: [{
                    type: 'empty',
                    prompt: '请输入用户名'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: '请输入密码'
                }]
            }
        }
    });
</script>

</html>
