<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${title}]]</title>
    <link rel="stylesheet" href="../../static/css/mycss.css" th:href="@{/css/mycss.css}">
    <link rel="stylesheet" href="../../static/css/typo.css" th:href="@{/css/typo.css}">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.css" th:href="@{/lib/editormd/css/editormd.css}" />
    <link rel="stylesheet" href="../../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}">
    <link rel="stylesheet" href="../../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">
    <link rel="stylesheet" href="../../static/semantic/semantic.css" th:href="@{/semantic/semantic.css}">
</head>
<body>

</body>
</html>