<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/_fragments::head('标签')"></head>
<body>
<!--导航栏-->
<!--开始-->
<nav th:replace="commons/_fragments::menu(3)"></nav>
<!--结束-->
<!--导航栏-->

<!--中间页面-->
<!--开始-->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">
        <div class="ui teal segment top attached">
            <!--                    两列 方向垂直 居中-->
            <div class="ui grid two column middle aligned">
                <!--                        第一列-->
                <div class="column">
                    <h3 class="ui blue header">标签</h3>
                </div>
                <!--                        第二列-->
                <div class="column right aligned">
                    共<h3 class="ui orange header m-inline-block"> 14 </h3>个
                </div>
            </div>
        </div>

        <div class="teal ui attached segment m-padded-tb-large">

            <a href="#" target="_blank" class="ui teal basic left pointing large label m-margin-tb-tiny">方法论
                <div class="detail">23</div>
            </a>

            <a href="#" target="_blank" class="ui basic left pointing label m-margin-tb-tiny">数据库
                <div class="detail">23</div>
            </a>

            <a href="#" target="_blank" class="ui basic left pointing label m-margin-tb-tiny">计算机科学
                <div class="detail">23</div>
            </a>

            <a href="#" target="_blank" class="ui basic left pointing label m-margin-tb-tiny">路由交换技术
                <div class="detail">23</div>
            </a>

        </div>

        <div class="ui attached teal segment">
            <!--            文章列表-->
            <div class="ui vertical padded segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">MYSQL从入门到删库</h3>
                        <p>比如:计算机\A0_marlin-userdebug_712_N2G47O_engcjc2020</p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini link list horizontal">
                                        <div class="item">
                                            <!--                                                avatar类似园-->
                                            <img src="https://picsum.photos/seed/picsum/30/20" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">LEEYANGY</a></div>
                                        </div>
                                        <!--                                            发布日期-->
                                        <div class="item">
                                            <i class="calendar icon"></i>2021.12.09
                                        </div>
                                        <!--                                            浏览次数-->
                                        <div class="item">
                                            <i class="eye icon"></i>666
                                        </div>

                                    </div>
                                </div>
                                <div class="right aligned five wide column ">
                                    <a href="#" target="_blank" class="ui blue basic label">数据库</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="column">
                                    <a href="" class="ui m-padded-mini basic teal left pointing label">数据库</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="ui five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/seed/picsum/300/200" alt=""
                                 class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui vertical padded segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">MYSQL从入门到删库</h3>
                        <p>比如:计算机\A0_marlin-userdebug_712_N2G47O_engcjc2020</p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini link list horizontal">
                                        <div class="item">
                                            <!--                                                avatar类似园-->
                                            <img src="https://picsum.photos/seed/picsum/30/20" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">LEEYANGY</a></div>
                                        </div>
                                        <!--                                            发布日期-->
                                        <div class="item">
                                            <i class="calendar icon"></i>2021.12.09
                                        </div>
                                        <!--                                            浏览次数-->
                                        <div class="item">
                                            <i class="eye icon"></i>666
                                        </div>

                                    </div>
                                </div>
                                <div class="right aligned five wide column ">
                                    <a href="#" target="_blank" class="ui blue basic label">数据库</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="column">
                                    <a href="" class="ui m-padded-mini basic teal left pointing label">数据库</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="ui five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/seed/picsum/300/200" alt=""
                                 class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui vertical padded segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">MYSQL从入门到删库</h3>
                        <p>比如:计算机\A0_marlin-userdebug_712_N2G47O_engcjc2020</p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini link list horizontal">
                                        <div class="item">
                                            <!--                                                avatar类似园-->
                                            <img src="https://picsum.photos/seed/picsum/30/20" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">LEEYANGY</a></div>
                                        </div>
                                        <!--                                            发布日期-->
                                        <div class="item">
                                            <i class="calendar icon"></i>2021.12.09
                                        </div>
                                        <!--                                            浏览次数-->
                                        <div class="item">
                                            <i class="eye icon"></i>666
                                        </div>

                                    </div>
                                </div>
                                <div class="right aligned five wide column ">
                                    <a href="#" target="_blank" class="ui blue basic label">数据库</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="column">
                                    <a href="" class="ui m-padded-mini basic teal left pointing label">数据库</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="ui five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/seed/picsum/300/200" alt=""
                                 class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui vertical padded segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">MYSQL从入门到删库</h3>
                        <p>比如:计算机\A0_marlin-userdebug_712_N2G47O_engcjc2020</p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini link list horizontal">
                                        <div class="item">
                                            <!--                                                avatar类似园-->
                                            <img src="https://picsum.photos/seed/picsum/30/20" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">LEEYANGY</a></div>
                                        </div>
                                        <!--                                            发布日期-->
                                        <div class="item">
                                            <i class="calendar icon"></i>2021.12.09
                                        </div>
                                        <!--                                            浏览次数-->
                                        <div class="item">
                                            <i class="eye icon"></i>666
                                        </div>

                                    </div>
                                </div>
                                <div class="right aligned five wide column ">
                                    <a href="#" target="_blank" class="ui blue basic label">数据库</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="column">
                                    <a href="" class="ui m-padded-mini basic teal left pointing label">数据库</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="ui five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/seed/picsum/300/200" alt=""
                                 class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui vertical padded segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">MYSQL从入门到删库</h3>
                        <p>比如:计算机\A0_marlin-userdebug_712_N2G47O_engcjc2020</p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini link list horizontal">
                                        <div class="item">
                                            <!--                                                avatar类似园-->
                                            <img src="https://picsum.photos/seed/picsum/30/20" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">LEEYANGY</a></div>
                                        </div>
                                        <!--                                            发布日期-->
                                        <div class="item">
                                            <i class="calendar icon"></i>2021.12.09
                                        </div>
                                        <!--                                            浏览次数-->
                                        <div class="item">
                                            <i class="eye icon"></i>666
                                        </div>

                                    </div>
                                </div>
                                <div class="right aligned five wide column ">
                                    <a href="#" target="_blank" class="ui blue basic label">数据库</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="column">
                                    <a href="" class="ui m-padded-mini basic teal left pointing label">数据库</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="ui five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/seed/picsum/300/200" alt=""
                                 class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui vertical padded segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">MYSQL从入门到删库</h3>
                        <p>比如:计算机\A0_marlin-userdebug_712_N2G47O_engcjc2020</p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini link list horizontal">
                                        <div class="item">
                                            <!--                                                avatar类似园-->
                                            <img src="https://picsum.photos/seed/picsum/30/20" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">LEEYANGY</a></div>
                                        </div>
                                        <!--                                            发布日期-->
                                        <div class="item">
                                            <i class="calendar icon"></i>2021.12.09
                                        </div>
                                        <!--                                            浏览次数-->
                                        <div class="item">
                                            <i class="eye icon"></i>666
                                        </div>

                                    </div>
                                </div>
                                <div class="right aligned five wide column ">
                                    <a href="#" target="_blank" class="ui blue basic label">数据库</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="column">
                                    <a href="" class="ui m-padded-mini basic teal left pointing label">数据库</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="ui five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/seed/picsum/300/200" alt=""
                                 class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <!--                返回按钮设计开始-->
        <div class="ui attached bottom segment">
            <div class="ui middle aligned two column grid">
                <!--                        左边上一页-->
                <div class="column">
                    <a href="#" class="ui blue button">上一页</a>
                </div>

                <!--                        右边下一页-->
                <div class="column right aligned">
                    <a href="#" class="ui blue button">下一页</a>
                </div>
            </div>
        </div>

    </div>
</div>
<!--结束-->
<!--中间页面-->
<!--<br><br><br><br><br><br><br>-->

<!--            footer  start-->
<!--底部-->
<!--开始-->
<footer th:replace="commons/_fragments::footer"></footer>
<!--结束-->
<!--底部-->
<!--给导航栏中的a标签加入一个点击事件，绑定一个m-item类，在jq中绑定它，调用jq提供的toggleClass方法，如果有这个标签就隐藏，反之取消隐藏-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    // 赞赏二维码弹出
    // id选择
    // $('#payButton').popup({
    //     popup: $('.payQR.popup'),
    //     on: 'click',
    //     position: 'bottom center'
    // });
</script>

</body>
</html>
